.build/
dist/
release/
.vs/
.vscode/

*.exe
*.dll
*.pdb
*.log
*.tmp
*.user
*.suo

firestone-data-dir.txt
HSAchieveGuide.error.log
HSAchieveGuide.startup.log

json/mindvision-export/
mindvision-export/
**/history/
**/collection.json
**/achievements-completed.json
**/profile-achievements.json
**/mindvision-achievements.json
**/mindvision-achievement-categories.json
**/mindvision-summary.json

